.container {
  position: fixed;
  margin: 0px 16px 0 16px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 330px;
}

ion-card {
  border-radius: 12px;
}

ion-thumbnail {
  margin: 5px;
}

ion-list {
  --background: transparent;
}

ion-item {
  --background: transparent;
}

ion-col {
  .subtitle {
    font-size: 8px;
  }
}

:host {
  .list-md {
    background: transparent !important;
  }
}