<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content [pullFactor]="0.5" [pullMin]="100" [pullMax]="200"></ion-refresher-content>
  </ion-refresher>

  <app-card-menu #cardMenu></app-card-menu>

  <ion-grid>
    <app-entries-list></app-entries-list>
    <app-waiters-list></app-waiters-list>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="calculator()" expand="block" fill="solid" shape="round">
      <ion-text>
        {{ 'START' | uppercase | translate }}!
      </ion-text>
    </ion-button>
  </ion-toolbar>
</ion-footer>