<app-card-menu #cardMenu></app-card-menu>

<ion-content>
  <!-- class="ion-margin ion-padding" -->

    <ion-row class="entries-row">
      <ion-col size="12">
        <app-entries-list></app-entries-list>
      </ion-col>
    </ion-row>
    <ion-row class="waiters-row">
      <ion-col size="12">
        <app-waiters-list></app-waiters-list>
      </ion-col>
    </ion-row>


</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="calculator()" expand="block" fill="solid" shape="round">
      <ion-text>
        {{ 'START' | uppercase | translate }}!
      </ion-text>
    </ion-button>
  </ion-toolbar>
</ion-footer>